* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {

    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h4 {
  font-size: 26px;
}


.navbar {
  background-color: #fff;
  color: #000;
  overflow: hidden;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  font-size: 15px;
  font-family: Arial;
  color: black;
  border-radius: 2px;
  letter-spacing: 1px;
}
  
.navbar a.logo {
  font-size: 15px;
  font-weight: bold;
}

/* Change the background color on mouse-over */

.navbar a:hover {
  background-color: gray;
  color: black;
}

/* Style the active/current link*/

.navbar a.active {
  background-color: gray;
  color: black;
}

/* Float the link section to the right */

.navbar-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar-right {
    float: none;
  }
}

.home_header {
  position: relative;
  margin: auto;
  letter spacing: 4px;
}

.home_image {
  width: 100%;
  vetical-align: middle;
  z-index:-1;
  margin-top: 30px !important;
  
  
}

.home_image_text {
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%,-50%);
  text-align: center !important;
  color: white;
  font-size: 30px;
  font-family: Arial;
  padding: 8px 16px;
}

.text_black {
  background-color: black;
  opacity: 0.75;
  padding: 8px 16px;
  border-radius: 5px;
}

.content {
  max-width: 1564px;
  padding: 8px 100px !important;
  margin: auto;
}

.section_container {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  padding: 0.01em 16px;

}

.section_title {
  border-color: #f1f1f1 !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border-bottom: 1px solid #ccc !important;
  font-size: 20px;
  font-family: Arial;
  letter-spacing: 3px;
}

.cards_row {
  padding: 0 8px;
}

.card_container {
 /*+width: 33.3333%;*/
  padding: 0 8px;
  margin-bottom: 16px !important;
  margin-top: 16px !important;
  float: left;
}

.card_display {
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 0 5px;
}

.card_text {
  padding: 10px 16px;
}

.cards_telescope_row {
  padding: 20px 20px;
}

.card_telescope_container {
 /*+width: 33.3333%;*/
  /*padding: 0 8px;
  margin-bottom: 16px !important;
  margin-top: 16px !important;*/
  padding-bottom: 32px;
  float: left;
}

.card_telescope_container_text {
 /*+width: 33.3333%;*/
  /*padding: 0 8px;
  margin-bottom: 16px !important;
  margin-top: 16px !important;*/
  float: left;
}

.card_telescope_display_left {
  position: relative;
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
  box-shadow: -5px -2px 5px 0 rgba(0,0,0,0.16);
  /*margin: 0 5px;*/
}

.card_telescope_display_right {
  position: relative;
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
  box-shadow: 5px 2px 5px 0 rgba(0,0,0,0.16);
  /*margin: 0 5px;*/
}

@media only screen and (max-width: 1564px) {
    .responsive {
        width: 33.33333%;
    }
}

@media only screen and (max-width: 1000px) {
    .responsive {
        width: 50%;
  }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
        float: none;
        display: block;
  }
}

@media only screen and (max-width: 1564px) {
    .responsive_b {
        width: 33.33333%;
    }
}

@media only screen and (max-width: 1000px) {
    .responsive_b {
        width: 100%;
        float: none;
        display: block;
  }
}

@media only screen and (max-width: 1564px) {
    .responsive_c {
        width: 66.66666%;
    }
}

@media only screen and (max-width: 1000px) {
    .responsive_c {
        width: 100%;
        float: none;
        display: block;
  }
}

