* {
margin: 0;
padding: 0;
}

header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  height: 100px;
}
     
.media {
  width: 100%vw;
  position: relative;
  top: 100px;
}
      

