* {
margin: 0;
padding: 0;
}

header {
  background-color: black;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  font-size: 40px;
  color: white;
  font-family: Arial;
}
     
body {
  background-image: ./Images/Sunset_Veleta.jpg;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
}
      

