* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.navbar {
  background-color: #fff;
  color: #000;
  overflow: hidden;
  padding: 8px 16px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 15px;
  font-family: Arial;
  color: black;
  line height: 22.5px;
  border-radius: 2px;
  letter-spacing: 3px;
}
  
.navbar a.logo {
  font-size: 21px;
  font-weight: bold;
}

/* Change the background color on mouse-over */

.navbar a:hover {
  background-color: gray;
  color: black;
}

/* Style the active/current link*/

.navbar a.active {
  background-color: gray;
  color: black;
}

/* Float the link section to the right */

.navbar-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar-right {
    float: none;
  }
}

header .navbar {
  position: relative;
  margin: auto;
  letter spacing: 4px;
}
  

p.short_intro {
  display: block;
  position: absolute;
  top: 500px;
  background-color: white;
  width: 100%;
  padding: 100px 0px;
  text-align: center;
  font-size: 16px;
}

.image_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
      

